/* Pallette
Reds
#CA5346
#A05A52
#F4402D

Browns
#F4402D
#4B403F

Whites
#F5E9DA


From Google Fonts:
.jacquard-12-regular {
  font-family: "Jacquard 12", system-ui;
  font-weight: 400;
  font-style: normal;
}

.pixelify-sans-<uniquifier> {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

*/

* {
    background-color: #332928;
    color: #F4402D;
    color: #F5E9DA;
}

header {
    font-family: "Jacquard 12", system-ui;
    font-weight: 400;
    font-style: normal;
}

main,
footer {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

#main-sub-box {
    display: flex;
    flex-direction: row-reverse;
    gap: 1em;
}

h1 {
    font-size: 90px;
    font-weight: normal;
    text-align: center;
    padding: 5px;
    margin: 0;
    text-decoration: underline 3px;
    text-underline-offset: 10px;
}

.character-maker {
    position: relative;
    display: flex;
    flex-direction: column;
    width: fit-content;
}

#already-copied-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    background-color: #F5E9DA;
    color: #F4402D;
    width: 150px;
    height: 35px;
    padding: 1px;
    font-weight: 700;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: solid 3px #F4402D;
    border-radius: 5px;
    user-select: none;
    cursor: default;
    visibility: hidden;
}

.character-area {
    text-align: center;
    align-items: center;
    width: 300px;
    height: 135px;
    padding: 5px 10px 5px 10px;
    margin: 5px;
    border: solid 3px;
    border-radius: 5px;
}

.character-area-detail {
    display: flex;
    justify-content: space-between;
}

.trait {
    width: 125px;
}

h2,
h3 {
    padding: 0;
    margin: 0;
}

.traits-heading {
    margin-bottom: 10px;
}

ul {
    padding: 0 0 0 25px;
    margin: 0;
}

.button-area {
    display: flex;
    justify-content: space-evenly;
}

button {
    width: 100px;
    height: 30px;
    margin: 10px;
    border: solid 3px #F5E9DA;
    border-radius: 5px;
    box-shadow: 2px 2px #4B403F;
    cursor: pointer;
}

button:active {
    box-shadow: 2px 2px;
    transform: translate(1px);
}

#copied-characters {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    margin-bottom: .25em;
}

.copyright-symbol {
    font-family: sans-serif;
}


.profile-pic {
    width: 3em;
    height: 3em;
}

/*tablet query*/
@media only screen and (min-width: 768px) {

    footer {
        margin-top: 1.25em;
        font-size: 16px;
    }

    .profile-pic {
        width: 3.5em;
        height: 3.5em;
    }
}

/*desktop query*/
@media only screen and (min-width: 992px) {

    .profile-pic {
        width: 3.75em;
        height: 3.75em;
    }
}