/* Pallette
Reds
#CA5346
#A05A52
#F4402D

Browns
#F4402D
#4B403F

Whites
#F5E9DA

Google Fonts:
.jacquard-12-regular
.pixelify-sans-<uniquifier>
*/

* {
    background-color: #332928;
    color: #F5E9DA;
}

header {
    font-family: "Jacquard 12", system-ui;
    font-weight: 400;
    font-style: normal;
}

main,
footer {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

#main-sub-box {
    display: flex;
    flex-direction: row-reverse;
    gap: 1em;
    align-items: top;
    justify-content: center;
}

@keyframes colorAnimation {
    0% {
        color: #F5E9DA;
    }

    50% {
        color: #F4402D;
    }

    100% {
        color: #F5E9DA;
    }
}

h1 {
    font-size: 50px;
    font-weight: normal;
    text-align: center;
    padding: 5px;
    margin: 0;
    text-decoration: underline 3px;
    text-underline-offset: 10px;
    animation-name: colorAnimation;
    animation-delay: 3s;
    animation-duration: 120s;
}

.info-box {
    width: 350px;
    font-size: 15px;
}

.character-maker {
    position: relative;
    display: flex;
    flex-direction: column;
    width: fit-content;
}

#already-copied-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    background-color: #F5E9DA;
    color: #F4402D;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 35px;
    padding: 1px;
    font-weight: 700;
    border: solid 3px #F4402D;
    border-radius: 5px;
    user-select: none;
    cursor: default;
    visibility: hidden;
}

.character-area {
    text-align: center;
    align-items: center;
    width: 300px;
    height: 135px;
    padding: 5px 10px 5px 10px;
    margin: 5px;
    border: solid 3px;
    border-radius: 5px;
}

.character-area-detail {
    display: flex;
    justify-content: space-between;
}

.trait {
    width: 125px;
}

h2,
h3 {
    padding: 0;
    margin: 0;
}

.traits-heading {
    margin-bottom: 10px;
}

ul {
    padding: 0 0 0 25px;
    margin: 0;
}

.button-area {
    display: flex;
    justify-content: space-evenly;
}

button {
    width: 100px;
    height: 30px;
    margin: 10px;
    border: solid 3px #F5E9DA;
    border-radius: 5px;
    box-shadow: 2px 2px #4B403F;
    cursor: pointer;
}

button:active {
    box-shadow: 2px 2px;
    transform: translate(1px);
}

#copy-button {
    opacity: .5;
    pointer-events: none;
}

#copied-characters {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}

.created-element {
    color: #F59584;
}

.x-out {
    position: absolute;
    top: 1.3%;
    left: 95%;
    display: flex;
    color: #F4402D;
    align-items: center;
    justify-content: center;
    width: 10px;
    height: 10px;
    border: solid 2px;
    border-radius: 3px;
    line-height: 1;
    cursor: pointer;
}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    margin-bottom: .25em;
}

.copyright-symbol {
    font-family: sans-serif;
    font-size: 12px;
}

/*tablet query*/
@media only screen and (min-width: 768px) {

    h1 {
        font-size: 70px;
    }

    .info-box {
        font-size: 17px;
    }

    footer {
        margin-top: 1.25em;
        font-size: 15px;
    }

    .copyright-symbol {
        font-size: 15px;
    }

}

/*desktop query*/
@media only screen and (min-width: 992px) {

    h1 {
        font-size: 90px;
    }

    .info-box {
        width: 500px;
        font-size: 20px;
    }

    footer,
    .copyright-symbol {
        font-size: 18px;
    }

}